In [2]:
import pandas as pd

df = pd.read_csv('/student_health_data.csv')

print("Dataset Shape:", df.shape)

print("\nFirst 5 Rows:")
display(df.head())

print("\nDataset Info:")
print(df.info())

Dataset Shape: (1000, 1)

First 5 Rows:

                                                                                                                                               Student_ID;Age;Gender;Heart_Rate;Blood_Pressure_Systolic;Blood_Pressure_Diastolic;Stress_Level_Biosensor;Stress_Level_Self_Report;Physical_Activity;Sleep_Quality;Mood;Study_Hours;Project_Hours;Health_Risk_Level;Family_members
1 24 M 50.663217 122.173015 84.419860 3.137350 9.028669 High     Moderate Happy    34.520973 16.800956 Moderate 2  NaN NaN NaN NaN NaN NaN Yes                                   No;;;;;;;;;;;;;;
2 21 F 57.926042 110.778407 75.696145 3.699078 5.819697 Moderate Good     Stressed 16.763846 15.791154 Moderate 1  NaN NaN NaN NaN NaN NaN NaN                                     ;;;;;;;;;;;;;;
3 22 M 59.294219 109.375673 83.803814 6.785156 5.892360 Low      Moderate Happy    44.203798 25.678437 Moderate 12 NaN NaN NaN NaN NaN NaN NaN                                     ;;;;;;;;;;;;;;
4 24 M 76.826232 125.142227 78.091587 6.408509 6.884001 High     Poor     Happy    21.776645 20.808391 High     9  NaN NaN NaN NaN NaN NaN NaN                                     ;;;;;;;;;;;;;;
5 20 M 68.342769 107.515592 80.674937 7.264719 4.483450 Moderate Poor     Happy    8.964999  15.194045 Moderate 7  NaN NaN NaN NaN NaN NaN NaN                                     ;;;;;;;;;;;;;;

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1000 entries, (np.int64(1), np.int64(24), 'M', np.float64(50.66321699), np.float64(122.173015), np.float64(84.41986006), np.float64(3.137349747), np.float64(9.02866916), 'High', 'Moderate', 'Happy', np.float64(34.52097288), np.float64(16.80095639), 'Moderate', np.int64(2), nan, nan, nan, nan, nan, nan, 'Yes') to (np.int64(1000), np.int64(23), 'F', np.float64(64.57627679), np.float64(109.2742773), np.float64(76.62811862), np.float64(6.652274181), np.float64(7.043606266), 'Moderate', 'Good', 'Happy', np.float64(30.94406953), np.float64(20.06833543), 'Moderate', np.int64(4), nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                             --------------  -----
 0   Student_ID;Age;Gender;Heart_Rate;Blood_Pressure_Systolic;Blood_Pressure_Diastolic;Stress_Level_Biosensor;Stress_Level_Self_Report;Physical_Activity;Sleep_Quality;Mood;Study_Hours;Project_Hours;Health_Risk_Level;Family_members  1000 non-null   object
dtypes: object(1)
memory usage: 360.1+ KB
None